<ul class="nav flex-column soigneMoi-bg-espace-personnel">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_compte') }}">Prendre un rendez-vous</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_rendez-vous') }}">Mes rendez-vous</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_compte_modif-mdp') }}">Modification du mot de passe</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_deconnexion') }}" class="nav-link">Me déconnecter</a>
    </li>
</ul>