{% extends 'base.html.twig' %}

{% block title %}SoigneMoi - Bienvenue sur la page {{ titre_compte }}{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Bienvenue sur votre espace personnel</h1>
    {% if app.user is not null %}
        <p>Vous êtes connecté en tant que <b>{{ app.user.prenom ~ ' ' ~ app.user.nom }}</b></p>
        <p><i>Ce n'est pas vous ? <a href="{{ path('app_deconnexion') }}">Cliquez ici</a></i></p>
    {% else %}
        <p>Vous n'êtes pas connecté.</p>
    {% endif %}
    <div class="row">
        <div class="col-md-3">
            {% include 'compte/_menu.html.twig' %}
        </div>
        <div class="col-md-9">
            <h5>Mes rendez-vous</h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
