{% extends 'base.html.twig' %}

{% block title %}À vos cotés pour votre santé | SoigneMoi{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>SoigneMoi</h1>
        <p>Situé au cœur de la région lilloise, l'Hôpital SoigneMoi est un établissement de santé de pointe qui allie excellence médicale et soins humains. Notre mission est de fournir des soins de haute qualité dans un environnement accueillant et sécurisé. Doté d'équipements modernes et d'une équipe de professionnels dédiés, SoigneMoi offre un large éventail de services médicaux et chirurgicaux pour répondre aux besoins de notre communauté. Chez SoigneMoi, chaque patient est au centre de nos préoccupations, et nous nous engageons à assurer votre bien-être et votre récupération dans les meilleures conditions possibles.</p>
        <h2>Liste des prestations:</h2>
        <ul>
            <li><strong>Urgences 24h/24:</strong> Un service d'urgence ouvert jour et nuit pour répondre rapidement à toutes les situations critiques.</li>
            <li><strong>Chirurgie Générale et Spécialisée:</strong> Une gamme complète d'interventions chirurgicales réalisées par des spécialistes dans des domaines tels que l'orthopédie, la cardiologie et la neurochirurgie.</li>
            <li><strong>Maternité:</strong> Un département de maternité équipé pour assurer un accompagnement complet de la grossesse à l'accouchement, dans un cadre rassurant et confortable.</li>
            <li><strong>Médecine Interne:</strong> Diagnostic et traitement des maladies internes avec une approche intégrée impliquant divers spécialistes pour une prise en charge complète.</li>
            <li><strong>Pédiatrie:</strong> Des soins dédiés aux plus jeunes, de la naissance à l'adolescence, avec des pédiatres expérimentés et attentifs.</li>
            <li><strong>Oncologie:</strong> Un centre de lutte contre le cancer proposant des traitements de pointe et un soutien personnalisé pour les patients et leurs familles.</li>
            <li><strong>Rééducation et Physiothérapie:</strong> Des services de rééducation fonctionnelle pour aider à la récupération après des blessures ou des interventions chirurgicales.</li>
            <li><strong>Imagerie Médicale:</strong> Équipements de dernière génération pour tous types d'imagerie diagnostique, y compris IRM, CT scan et radiographie.</li>
            <li><strong>Laboratoire d'analyses:</strong> Analyses médicales complètes permettant un diagnostic rapide et précis.</li>
            <li><strong>Consultations Externes:</strong> Une offre de consultations dans diverses spécialités médicales pour un suivi régulier ou des avis spécialisés.</li>
        </ul>
    </div>
{% endblock %}