{% extends 'base.html.twig' %}

{% block title %}Accueil - SoigneMoi{% endblock %}

{% block body %}
    <!-- mt-5 + mb-5 = my-5 -->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <h1>Accueil</h1>
                <p>Bienvenue sur SoigneMoi, le site qui vous permet de prendre rendez-vous chez un médecin en quelques clics.</p>
                <p>Vous pouvez consulter la liste des médecins disponibles et prendre rendez-vous en ligne.</p>
                <p>Si vous êtes médecin, vous pouvez vous inscrire pour proposer vos services.</p>
            </div>
        </div>
    </div>
{% endblock %}
