{% extends 'base.html.twig' %}

{% block title %}À vos cotés pour votre santé | SoigneMoi{% endblock %}

{% block body %}
    <div class="ybHeader">
        <div class="ybHeaderFond"></div>
        <div class="ybHeaderImage"></div>
        <div class="ybTexteHeader">
            <h1>SoigneMoi, l'excellence au <br> service de votre bien-être.</h1>
            <p>J’ai besoin de :</p>
        </div>
        <div class="ybBouton" style="left: 97px; top: 449px;">

            <span class="ybTexteBouton">A Propos</span>
        </div>
        <div class="ybBouton" style="left: 530px; top: 449px;">

            <span class="ybTexteBouton">Nous suivre</span>
        </div>
        <div class="ybBouton" style="left: 97px; top: 566px;">

            <span class="ybTexteBouton">Prendre un rendez-vous</span>
        </div>
        <div class="ybBouton" style="left: 530px; top: 566px;">

            <span class="ybTexteBouton">Trouver un praticien</span>
        </div>
    </div>

{% endblock %}